body {
    padding: 50px 0px 0px 0px;
}

.page-header {
    margin: 0px;
    padding: 0px;
    background: url(images/header.jpg);
}

.navbar-brand { 
    height: 50px;
}

.navbar-main {
    position: fixed; 
    margin: -50px -1px -100px 0px; 
    padding: 0px; 
    width: 100.2%; 
    border-radius: 0px;
}

.nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
    border-radius: 0;
}

.nav-list { 
    border-bottom: none; 
}
.nav-list > li { 
    width: 180px;
    padding: 20px 35px 20px 35px;
    margin: 0px 0px 0px -5px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee; 
}
/*
.nav-list > li:last-child { 
    border-right: 1px solid #eee; 
}
*/
.nav-list > li > a:hover { 
    text-decoration: none;
    color: #3399ff;
}
.nav-list > li > a > img:hover { 
    opacity: 0.7; 
}
.nav-list > li > a > span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-list > li > a > img {
    border-radius: 100%; 
    margin-bottom: 10px;
}

.mega-dropdown { 
    position: static !important; 
}
.mega-dropdown-menu {
    padding: 10px 15px 10px 15px;
    text-align: center;
    width: 100%;
}